.product-details{
    margin: auto; 
    width:50%; 
    padding: 30px; 
    display: flex; 
    align-items: center;
    color: #7D5452;
}

.product-name{
    margin-bottom: 10px; 
    font-weight: bold;  
    font-size: 2.5em;
}


.price{
    color: #D0A59F;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 40px;
}

.names{
    margin-bottom: 15px;
    font-size: 1em;
    opacity: .7;
}

.color-choices{
    margin: 10px 0px 0px 30px;
}

.color-primary{ 
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
    cursor: pointer; 
    display: inline-block;
    border-radius: 7px;
}
.color-primary1{
    margin-left: 37px;
}

.primary-div{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 10px;
}

.color-secondary{ 
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
    cursor: pointer; 
    display: inline-block;
    border-radius: 7px;
}
.color-secondary1{
    margin-left: 15px;
}

.secondary-div{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 20px;
}



.button-choice{
    border-radius: 50px; 
    background: #E4D8CC; 
    width: 90px; 
    height: 35px; 
    margin-right: 15px; 
    cursor: pointer; 
    box-shadow: -4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    filter: drop-shadow(-1px 5px 4px rgba(0, 0, 0, 0.15));
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    outline: none;
}

.size{
    margin: -5px 0px 20px 20px;
}

.size-div{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

button[type="submit"],
input[type="submit"]{
    cursor: pointer; 
    margin-top: 30px; 

    background-color: rgba(125, 84, 82, 0.70); 
    width: 150px; 
    height: 50px; 
    color: #E4D8CC; 
    font-family: Inter;
    font-size: 15px; 
    font-style: normal; 
    line-height: normal;
}